[Unit]
Description=PGPool-II Middleware Between PostgreSQL Servers And PostgreSQL Database Clients
After=syslog.target network.target

[Service]
EnvironmentFile=-/etc/sysconfig/pgpool-II-92
ExecStart=/usr/pgpool-9.2/bin/pgpool -f /etc/pgpool-II-92/pgpool.conf $OPTS 
ExecStop=/usr/pgpool-9.2/bin/pgpool -f /etc/pgpool-II-92/pgpool.conf -m fast stop

[Install]
WantedBy=multi-user.target
