[Unit]
Description=PGPool-II Middleware Between PostgreSQL Servers And PostgreSQL Database Clients
After=syslog.target network.target

[Service]
User=postgres

EnvironmentFile=-/etc/sysconfig/pgpool-II-12
ExecStart=/usr/pgpool-II-12/bin/pgpool -f /etc/pgpool-II-12/pgpool.conf $OPTS 
ExecStop=/usr/pgpool-II-12/bin/pgpool -f /etc/pgpool-II-12/pgpool.conf -m fast stop
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
